.game-container {
  margin: 1em;
}

.game-container hr {
  border: 2px dashed var(--main-border-colour);
  border-radius: var(--main-border-radius);
  width: 100%;
}

.game-container .trade-divide {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.game-container .game-top-bar {
  display: flex;
  gap: 1em;
  font-size: 1em;
  margin: 0 auto;
  margin-bottom: 1em;
  border-bottom: 2px solid var(--main-border-colour);
  padding-bottom: 0.25em;
}

.game-container .game-top-bar #time {
  flex: 7%;
}

.game-container .game-top-bar #trades {
  flex: 15%;
}

.game-container .game-top-bar #value {
  flex: 30%;
}

.game-container .game-top-bar #quit {
  flex: 6%;
  text-align: right;
  cursor: pointer;
  transition: var(--transition);
}

.game-container .game-top-bar #quit:hover {
  color: var(--accent-colour);
}

.game-container .item-image {
  background-image: url('https://www.royalmint.com/globalassets/__rebrand/_structure/shop/editions/_historic-coins/_product-image/queen-elizabeth-ii-1967-penny-obverse-hise2967b.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  width: 150px;
  border: 3px solid var(--main-border-colour);
  border-radius: var(--main-border-radius);
  display: block;
}

.game-container .current-item {
  width: 100%;
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.game-container .offers {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 1em;
  flex-wrap: wrap;
}

.game-container .offer {
  flex: 40%;
  cursor: pointer;
}

.game-container .offer .item-image {
  margin: 0 auto;
  transition: var(--transition);
}

.game-container .offer .item-image:hover {
  border-color: var(--accent-colour);
}

.game-container .offer:hover {
  font-weight: bold;
}

@media (max-width: 465px) {
  .game-container .game-top-bar {
    font-size: 0.9em;
  }
}

@media (max-width: 418px) {
  .game-container .game-top-bar {
    font-size: 0.8em;
  }
}
