:root {
  --main-text-colour: white;
  --sub-text-colour: lightgrey;
  --main-background-colour: #2f3640;
  --sub-background-colour: #353b48;
  --main-border-colour: #f5f6fa;
  --main-border-radius: 10px;
  --accent-colour: #00a8ff;
  --colour-bad: #e84118;
  --colour-good: #4cd137;
  --colour-mid: #fbc531;
  --font: Verdana, sans-serif;
  --transition: all 0.3s ease-in-out;
}

[data-theme="light"] {
  --main-text-colour: white;
  --sub-text-colour: lightgrey;
  --main-background-colour: #2f3640;
  --sub-background-colour: #353b48;
  --main-border-colour: #f5f6fa;
  --main-border-radius: 10px;
  --accent-colour: #00a8ff;
  --colour-bad: #e84118;
  --colour-good: #4cd137;
  --colour-mid: #fbc531;
}

body {
  color: var(--main-text-colour);
  background-color: var(--main-background-colour);
  font-family: var(--font);
  margin: 0;
}

main {
  margin: 0 auto;
  max-width: 800px;
}

a {
  color: white;
  font-weight: bold;
  transition: var(--transition);
}

a:hover {
  color: var(--accent-colour);
}


.content {
  transition: height 0.5s ease;
}

.hide {
  display: none !important;
}

.show {
  display: inherit !important;
}

.back-btn {
  cursor: pointer;
}

.back-btn:hover {
  color: var(--accent-colour);
}

.info-container {
  border: 2px solid var(--main-border-colour);
  border-radius: var(--main-border-radius);
  padding: 1em;
  margin: 1em;
  font-size: 1.1em;
}

.info-container span {
  font-size: 1.3em;
}
